@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  background-color: #FAFAFA;
  font-family: 'Nunito Sans', sans-serif;
}

.sp {
  padding: 1.5rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  background-color: #FFF;
  -webkit-box-shadow: 0px -4px 8px 1px #aaaaaa;
          box-shadow: 0px -4px 8px 1px #aaaaaa;
  margin-bottom: 1rem;
}

header h1 {
  font-size: 18px;
}

header .mode {
  cursor: pointer;
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

header .mode img {
  max-width: 20px;
}

header .mode span {
  font-size: 15px;
  margin-left: 0.4rem;
}

main .srch .search {
  position: relative;
  margin-bottom: 2rem;
}

main .srch .search label {
  position: absolute;
  max-width: 22px;
  top: calc(50% - 11px);
  left: 0.8rem;
}

main .srch .search label img {
  width: 100%;
  -webkit-filter: invert(0.6);
          filter: invert(0.6);
}

main .srch .search input {
  padding: 0 3rem;
  width: 100%;
  height: 3.2rem;
  border: none;
  background-color: #FFF;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 12px -5px #aaa;
          box-shadow: 0px 0px 12px -5px #aaa;
}

main .srch .filter {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .srch .filter select {
  cursor: pointer;
  width: 12rem;
  height: 3.2rem;
  background-color: #FFF;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 12px -5px #aaa;
          box-shadow: 0px 0px 12px -5px #aaa;
  border: none;
  padding: 0 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 15px;
  text-transform: capitalize;
}

main .srch .filter::before {
  content: "";
  position: absolute;
  border-bottom: 0.6rem solid gray;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: calc(50% - 5px);
  right: 0.8rem;
  pointer-events: none;
}

main .rm_search {
  display: none;
}

main .country_content {
  cursor: pointer;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 12px -5px #aaa;
          box-shadow: 0px 0px 12px -5px #aaa;
  margin: 2rem 0;
  border-radius: 7px;
  -webkit-transition: 330ms;
  transition: 330ms;
}

main .country_content img {
  width: 100%;
  border-radius: 7px 7px 0 0;
  -webkit-box-shadow: 0px 2px 16px -10px #aaa;
          box-shadow: 0px 2px 16px -10px #aaa;
}

main .country_content a {
  color: #212E37;
  text-decoration: none;
}

main .country_content a .info {
  padding: 1.4rem 1.7rem;
  text-transform: capitalize;
}

main .country_content a .info h2 {
  font-size: 21px;
  margin-bottom: 1rem;
}

main .country_content a .info h5 {
  font-size: 17px;
  line-height: 1.8;
}

main .country_content a .info h5 span {
  font-weight: 300;
}

main .country_content:hover {
  -webkit-transform: scale(1.045);
          transform: scale(1.045);
}

main .country_ {
  text-transform: capitalize;
}

main .country_ a {
  text-decoration: none;
}

main .country_ button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 12px -5px #aaa;
          box-shadow: 0px 0px 12px -5px #aaa;
  border: none;
  border-radius: 7px;
  margin-bottom: 4rem;
  padding: 0.6rem 1.3rem;
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 330ms;
  transition: 330ms;
}

main .country_ button img {
  margin-right: 0.5rem;
}

main .country_ button :hover {
  -webkit-transform: scale(1.045);
          transform: scale(1.045);
}

main .country_ img {
  max-width: 100%;
}

main .country_ .gen_info {
  margin: 1.9rem 0;
}

main .country_ .gen_info h2 {
  font-size: 22px;
  margin-bottom: 1.28rem;
}

main .country_ h5 {
  font-size: 18px;
  line-height: 1.8;
}

main .country_ h5 span {
  font-weight: 300;
}

main .country_ .button_div {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .country_ .button_div button {
  margin: 0.4rem 0;
  margin-left: 0.8rem;
}

main .remove {
  display: none;
}

@media screen and (max-width: 350px) {
  body {
    min-width: 350px;
  }
}

@media screen and (min-width: 450px) {
  .sp {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media screen and (min-width: 650px) {
  .sp {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}

@media screen and (min-width: 800px) {
  .sp {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  header {
    text-transform: capitalize;
  }
  main .countries {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  main .countries img {
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .srch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .srch .filter::before {
    top: 1.3rem;
  }
  main .rm_search {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .sp {
    padding: 1.5rem 2rem;
  }
  main .countries {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  main .countries img {
    height: 140px;
  }
  main .search > input {
    width: 400px;
  }
  main .country_ .countri {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 55%;
        grid-template-columns: 45% 55%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .country_ .countri img {
    width: 340px;
  }
  main .country_ .countri .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .country_ .countri .information .other {
    margin-left: 2.8rem;
  }
  main .country_ .button_div {
    -ms-grid-column: 2;
    grid-column: 2;
    margin: 0;
  }
}

@media screen and (min-width: 1100px) {
  .sp {
    padding: 1.5rem;
  }
  main .countries {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  main .countries img {
    height: 180px;
  }
  main .search > input {
    width: 500px;
  }
  main .country_ .countri {
    -ms-grid-columns: 45% 55%;
        grid-template-columns: 45% 55%;
  }
  main .country_ .countri img {
    width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .sp {
    padding: 1.5rem 3rem;
  }
  main .countries {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  main .countries img {
    height: 140px;
  }
  main .srch .search {
    width: 30rem;
  }
  main .country_ .countri img {
    width: 480px;
  }
}

@media screen and (min-width: 1300px) {
  .sp {
    padding: 1.5 6rem;
  }
  .country_ .countri img {
    width: 520px;
  }
}

.dark {
  background-color: #212E37;
}

.dark header {
  background-color: #2B3743;
  color: #FFF;
  -webkit-box-shadow: 0px 0px 12px -5px #232323;
          box-shadow: 0px 0px 12px -5px #232323;
}

.dark header img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.dark button {
  background-color: #2B3743;
  -webkit-box-shadow: 0px 0px 12px -5px #232323;
          box-shadow: 0px 0px 12px -5px #232323;
}

.dark main a {
  color: #FFF;
}

.dark main .search input {
  background-color: #2B3743;
  color: #FFF;
  -webkit-box-shadow: 0px 0px 12px -5px #232323;
          box-shadow: 0px 0px 12px -5px #232323;
}

.dark main .search label img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.dark main .filter select {
  background-color: #2B3743;
  -webkit-box-shadow: 0px 0px 12px -5px #232323;
          box-shadow: 0px 0px 12px -5px #232323;
  color: #FFF;
}

.dark main .country_content {
  background-color: #2B3743;
  -webkit-box-shadow: 0px 0px 12px -5px #232323;
          box-shadow: 0px 0px 12px -5px #232323;
  color: #FFF;
}

.dark main .country_content img {
  -webkit-box-shadow: 0px 0px 12px -5px #232323;
          box-shadow: 0px 0px 12px -5px #232323;
}

.dark main .country_ {
  color: #FFF;
}

.dark main .country_ button {
  background-color: #2B3743;
  -webkit-box-shadow: 0px 0px 12px -5px #232323;
          box-shadow: 0px 0px 12px -5px #232323;
  color: #FFF;
}

.dark main .country_ button img {
  -webkit-filter: invert(1);
          filter: invert(1);
}
/*# sourceMappingURL=style.css.map */